$utilities: map-merge(
  $utilities,
  (
    'font-size':
      map-merge(
        map-get($utilities, 'font-size'),
        (
          responsive: true
        )
      )
  )
);

.chinese-trad {
  list-style-type: trad-chinese-informal;
}
@media (max-width: 992px) {
  .mw-10 {
    max-width: 10%;
  }
}
