<footer class="bg-natural-95 border-top border-natural-85">
  <div class="container">
    <div
      class="flex-column flex-xl-row align-items-center d-flex justify-content-between py-4 py-lg-5"
    >
      <ul class="nav d-flex justify-content-center">
        <li class="nav-item pb-2 pb-lg-0">
          <a
            class="nav-link text-body py-2 px-3 px-lg-4 fs-sm fs-lg-6"
            href="service-plan.html"
            >服務方案</a
          >
        </li>
        <li class="nav-item pb-2 pb-lg-0">
          <a
            class="nav-link text-body py-2 px-3 px-lg-4 fs-sm fs-lg-6"
            href="about.html"
            >關於職旅</a
          >
        </li>
        <li class="nav-item pb-2 pb-lg-0">
          <a
            class="nav-link text-body py-2 px-3 px-lg-4 fs-sm fs-lg-6"
            href="content.html"
            >聯絡我們</a
          >
        </li>
        <li class="nav-item pb-2 pb-lg-0">
          <a
            class="nav-link text-body py-2 px-3 px-lg-4 fs-sm fs-lg-6"
            href="privacy-policy.html"
            >隱私權政策</a
          >
        </li>
        <li class="nav-item pb-2 pb-lg-0">
          <a
            class="nav-link text-body py-2 px-3 px-lg-4 fs-sm fs-lg-6"
            href="terms-of-service.html"
            >用戶條款</a
          >
        </li>
      </ul>

      <span class="text-natural-50 text-center fs-sm"
        >Copyright © 2025 職旅 workway. All rights reserved.</span
      >
    </div>
  </div>
</footer>
