<!-- 登入 -->
<div
  class="modal fade"
  id="exampleModalToggle"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-xl modal-dialog-centered modal-fullscreen-xl-down"
  >
    <div class="modal-content overflow-hidden">
      <div class="modal-body p-xl-0">
        <div class="container-fluid p-xl-0 d-none d-xl-flex">
          <div class="row m-xl-0">
            <!-- 左側 -->
            <div class="col-xl-7 p-xl-0">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week6/about/login.png?raw=true"
                alt="login.png"
                class="h-100"
              />
            </div>
            <!-- 右側 -->
            <div class="col-xl-5 p-xl-5">
              <div
                class="d-flex align-items-center justify-content-center position-relative my-xl-0 mb-xl-5"
              >
                <!-- 登入標題 -->
                <div class="mx-auto">
                  <p class="fs-3 fw-bold lh-sm" id="exampleModalLabel">登入</p>
                </div>
                <div class="position-absolute mx-auto btn-login-close">
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
              </div>
              <!-- 按鈕 -->
              <div
                class="d-flex flex-column justify-content-center mb-xl-4 border-bottom border-natural-85"
              >
                <button
                  type="button"
                  class="btn btn-light border rounded-4 w-xl-100 d-flex align-items-center justify-content-center fs-sm fs-xl-6 py-12 mb-3"
                >
                  <i class="bi bi-google icon-size"></i>Google
                </button>
                <button
                  type="button"
                  class="btn btn-light border rounded-4 w-xl-100 d-flex align-items-center justify-content-center fs-sm fs-xl-6 py-12 mb-4"
                >
                  <i class="bi bi-discord icon-size"></i>
                  Discord
                </button>
              </div>
              <div>
                <!-- 帳號 -->
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="account"
                    placeholder="帳號"
                  />
                  <label for="account">帳號</label>
                </div>
                <!-- 密碼 -->
                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="密碼"
                  />
                  <label for="password">密碼</label>
                </div>
                <p class="text-natural-50 text-end mb-3">忘記密碼</p>
                <!-- 按鈕 -->
                <div
                  class="d-flex flex-column justify-content-center mb-4 mb-xl-5"
                >
                  <button
                    type="button"
                    class="btn btn-dark rounded-4 w-xl-100 d-flex align-items-center justify-content-center fs-xl-6 py-12"
                  >
                    送出
                    <span class="material-icons-outlined ms-1">
                      chevron_right
                    </span>
                  </button>
                </div>
                <p class="text-natural-50 text-center">
                  不是會員？<a
                    class="ms-1 text-primary"
                    data-bs-target="#exampleModalToggle2"
                    data-bs-toggle="modal"
                  >
                    快速註冊
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 手機 -->
        <div class="d-xl-none">
          <div
            class="d-flex align-items-center justify-content-center position-relative my-4 my-xl-0 mb-xl-5"
          >
            <div class="mx-auto">
              <p class="fs-3 fw-bold lh-sm" id="exampleModalLabel">登入</p>
            </div>
            <div class="position-absolute mx-auto btn-login-close">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <!-- 按鈕 -->
          <div
            class="d-flex flex-column justify-content-center mb-4 border-bottom border-natural-85"
          >
            <button
              type="button"
              class="btn btn-light border rounded-4 w-xl-100 d-flex align-items-center justify-content-center fs-sm fs-xl-6 py-12 mb-3"
            >
              <i class="bi bi-google icon-size"></i>Google
            </button>
            <button
              type="button"
              class="btn btn-light border rounded-4 w-xl-100 d-flex align-items-center justify-content-center fs-sm fs-xl-6 py-12 mb-4"
            >
              <i class="bi bi-discord icon-size"></i>
              Discord
            </button>
          </div>
          <div>
            <!-- 帳號 -->
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="account"
                placeholder="帳號"
              />
              <label for="account">帳號</label>
            </div>
            <!-- 密碼 -->
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="密碼"
              />
              <label for="password">密碼</label>
            </div>
            <p class="text-natural-50 text-end mb-3">忘記密碼</p>
            <!-- 按鈕 -->
            <div class="d-flex flex-column justify-content-center mb-4 mb-xl-5">
              <button
                type="button"
                class="btn btn-dark rounded-4 w-xl-100 d-flex align-items-center justify-content-center fs-sm fs-xl-6 py-12"
              >
                送出
                <span class="material-icons-outlined ms-1">
                  chevron_right
                </span>
              </button>
            </div>
            <p class="text-natural-50 text-center">
              不是會員？
              <a
                class="ms-1 text-primary"
                data-bs-target="#exampleModalToggle2"
                data-bs-toggle="modal"
              >
                快速註冊
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 註冊 -->
<div
  class="modal fade"
  id="exampleModalToggle2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel2"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-xl modal-dialog-centered modal-fullscreen-xl-down"
  >
    <div class="modal-content overflow-hidden">
      <div class="modal-body p-xl-0">
        <div class="container-fluid p-xl-0 d-none d-xl-flex">
          <div class="row m-xl-0">
            <!-- 左側 -->
            <div class="col-xl-5 p-xl-5">
              <div
                class="d-flex align-items-center justify-content-center position-relative my-xl-0 mb-xl-5"
              >
                <!-- 註冊標題 -->
                <div class="mx-auto">
                  <p class="fs-3 fw-bold lh-sm" id="exampleModalLabel2">註冊</p>
                </div>
                <div class="position-absolute mx-auto btn-login-close">
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
              </div>
              <!-- 按鈕 -->
              <div
                class="d-flex flex-column justify-content-center mb-xl-4 border-bottom border-natural-85"
              >
                <button
                  type="button"
                  class="btn btn-light border rounded-4 w-xl-100 d-flex align-items-center justify-content-center fs-sm fs-xl-6 py-12 mb-3"
                >
                  <i class="bi bi-google icon-size"></i>Google
                </button>
                <button
                  type="button"
                  class="btn btn-light border rounded-4 w-xl-100 d-flex align-items-center justify-content-center fs-sm fs-xl-6 py-12 mb-4"
                >
                  <i class="bi bi-discord icon-size"></i>
                  Discord
                </button>
              </div>
              <div>
                <!-- 姓名 -->
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="姓名"
                  />
                  <label for="name">姓名</label>
                </div>
                <!-- 信箱 -->
                <div class="form-floating mb-3">
                  <input
                    type="mail"
                    class="form-control"
                    id="mail"
                    placeholder="信箱"
                  />
                  <label for="mail">信箱</label>
                </div>
                <!-- 密碼 -->
                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="密碼"
                  />
                  <label for="password">密碼</label>
                </div>
                <!-- 確認密碼 -->
                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="確認密碼"
                  />
                  <label for="password">確認密碼</label>
                </div>
                <div class="form-check form-check-inline mb-0 fs-sm mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="terms-2"
                    value="terms-2"
                  />
                  <label class="form-check-label" for="terms-2"
                    >我同意
                    <span class="text-primary"
                      ><a
                        href="terms-of-service.html"
                        target="_blank"
                        class="text-decoration-underline"
                      >
                        服務條款
                      </a></span
                    >
                    和<span class="text-primary"
                      ><a
                        href="privacy-policy.html"
                        target="_blank"
                        class="text-decoration-underline"
                      >
                        隱私政策
                      </a></span
                    ></label
                  >
                </div>
                <!-- 按鈕 -->
                <div
                  class="d-flex flex-column justify-content-center mb-4 mb-xl-5"
                >
                  <button
                    type="button"
                    class="btn btn-dark rounded-4 w-xl-100 d-flex align-items-center justify-content-center fs-xl-6 py-12"
                  >
                    送出
                    <span class="material-icons-outlined ms-1">
                      chevron_right
                    </span>
                  </button>
                </div>
                <p class="text-natural-50 text-center">
                  已經是會員？<a
                    class="ms-1 text-primary"
                    data-bs-target="#exampleModalToggle"
                    data-bs-toggle="modal"
                  >
                    直接登入
                  </a>
                </p>
              </div>
            </div>
            <!-- 右側 -->
            <div class="col-xl-7 p-xl-0">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week6/about/register.png?raw=true"
                alt="register.png"
                class="h-100"
              />
            </div>
          </div>
        </div>
        <!-- 手機 -->
        <div class="d-xl-none">
          <div
            class="d-flex align-items-center justify-content-center position-relative my-4 my-xl-0 mb-xl-5"
          >
            <div class="mx-auto">
              <p class="fs-3 fw-bold lh-sm" id="exampleModalLabel2">註冊</p>
            </div>
            <div class="position-absolute mx-auto btn-login-close">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <!-- 按鈕 -->
          <div
            class="d-flex flex-column justify-content-center mb-4 border-bottom border-natural-85"
          >
            <button
              type="button"
              class="btn btn-light border rounded-4 w-xl-100 d-flex align-items-center justify-content-center fs-sm fs-xl-6 py-12 mb-3"
            >
              <i class="bi bi-google icon-size"></i>Google
            </button>
            <button
              type="button"
              class="btn btn-light border rounded-4 w-xl-100 d-flex align-items-center justify-content-center fs-sm fs-xl-6 py-12 mb-4"
            >
              <i class="bi bi-discord icon-size"></i>
              Discord
            </button>
          </div>
          <div>
            <!-- 姓名 -->
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="姓名"
              />
              <label for="name">姓名</label>
            </div>
            <!-- 信箱 -->
            <div class="form-floating mb-3">
              <input
                type="mail"
                class="form-control"
                id="mail"
                placeholder="信箱"
              />
              <label for="mail">信箱</label>
            </div>
            <!-- 密碼 -->
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="密碼"
              />
              <label for="password">密碼</label>
            </div>
            <!-- 確認密碼 -->
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="確認密碼"
              />
              <label for="password">確認密碼</label>
            </div>
            <div class="form-check form-check-inline mb-0 fs-sm mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                id="terms-2"
                value="terms-2"
              />
              <label class="form-check-label" for="terms-2"
                >我同意
                <span class="text-primary"
                  ><a
                    href="terms-of-service.html"
                    target="_blank"
                    class="text-decoration-underline"
                  >
                    服務條款
                  </a></span
                >
                和<span class="text-primary"
                  ><a
                    href="privacy-policy.html"
                    target="_blank"
                    class="text-decoration-underline"
                  >
                    隱私政策
                  </a></span
                ></label
              >
            </div>
            <!-- 按鈕 -->
            <div class="d-flex flex-column justify-content-center mb-4 mb-xl-5">
              <button
                type="button"
                class="btn btn-dark rounded-4 w-xl-100 d-flex align-items-center justify-content-center fs-sm fs-xl-6 py-12"
              >
                送出
                <span class="material-icons-outlined ms-1">
                  chevron_right
                </span>
              </button>
            </div>
            <p class="text-natural-50 text-center">
              已經是會員？<a
                class="ms-1 text-primary"
                data-bs-target="#exampleModalToggle"
                data-bs-toggle="modal"
              >
                直接登入
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
