.user-img {
  width: 44px;
  height: 44px;
}
.offcanvas-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: env(safe-area-inset-bottom); /* iOS 安全區支援 */
  background-color: white; /* 確保不透明 */
}
