.about-banner-img {
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week6/service/banner-bg-pc.png?raw=true');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0px;
}
.banner-person-img {
  bottom: 0;
  right: 440px;
}
.w-120 {
  width: 120px;
}
.ps-312 {
  padding-left: 312px;
}
.swiper-slide {
  height: auto;
}
.bg-blue {
  background-color: #4a69e8;
}
.text-team {
  color: #4a69e8;
}
.border-bottom-dotted {
  border-bottom: 1px dotted #ffffff; /* 可換顏色 */
}
.text-mb-img {
  width: 303px;
  height: 100px;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}
.map-img {
  width: 303px;
  height: 200px;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}
.bg-white::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  color: beige;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}
@media (max-width: 1920px) {
  .banner-person-img {
    display: none;
  }
}
@media (max-width: 992px) {
  .about-banner-img {
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week6/service/banner-bg.png?raw=true');
    padding: 48px 0px;
  }
}
