.index-banner {
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week6/index/gradient-ball.png?raw=true');
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.index-bg {
  width: 100%;
  height: 200px;
  z-index: 0;
  bottom: 0;
}
.index-badge {
  top: 12px;
  left: 12px;
}
.index-adv-img {
  bottom: 0;
  right: 0;
}
@media (min-width: 1024px) {
  .index-py-5 {
    padding: 5px 0;
  }
}
