.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.w-300 {
  width: 300px;
}
.fs-lg-14 {
  font-size: 14px;
}

@media (max-width: 992px) {
  .fs-14 {
    font-size: 14px;
  }
  .w-lg-100 {
    width: 100%;
  }
}
