<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <title>關於職旅</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- 關於職旅 -->
    <div class="about-banner-img text-center">
      <div class="container-lg position-relative py-5 py-xl-80">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <p class="h2 fw-bold mb-4 mb-lg-5">關於職旅</p>
            <p class="text-natural-50">
              職旅 WorkWay
              匯集了來自不同領域、擁有豐富實戰經驗的自由工作者與數位遊牧專家。根據你的需求和階段，我們提供一對一諮詢。
            </p>
            <p class="text-natural-50">
              無論你是剛開始探索期，還是已在轉型路上遇到瓶頸，我們都能提供適合你的專業指導。
            </p>
          </div>

          <div
            class="position-absolute banner-person-img d-none d-xl-flex justify-content-end"
          >
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week6/service/banner-person.svg"
              alt="banner-person"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- 精實的職旅夥伴 -->
    <div class="overflow-x-hidden">
      <div class="container-lg">
        <div>
          <div class="text-center pt-5 pt-lg-80">
            <p class="h3 fw-bold mb-3">精實的職旅夥伴</p>
            <p class="text-natural-50 mb-4">
              我們相信，最好的指導來自於那些已經走過你想走的路，並願意伸出手拉你一把的人。
            </p>
          </div>

          <div class="swiper mySwiper mb-4 overflow-visible">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card h-100 rounded-4 overflow-hidden">
                  <div class="card-img-top p-0">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week6/about/mentor-1.png?raw=true"
                      alt="partner-1"
                      height="400"
                      class="w-100 object-fit-cover"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="fs-14 mb-2 text-natural-50">數位遊牧先驅</h4>
                    <h3 class="fs-4 fw-medium mb-3">陳志遠 Ethan Chen</h3>
                    <div class="d-flex flex-wrap pb-4">
                      <a
                        href="#"
                        class="fs-14 text-natural-50 border rounded-pill px-2 py-1 me-2"
                        ># 遠端工作策略</a
                      >
                      <a
                        href="#"
                        class="fs-14 text-natural-50 border rounded-pill px-2 py-1"
                        ># 數位遊牧生活設計</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card h-100 rounded-4 overflow-hidden">
                  <div class="card-img-top p-0">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week6/about/mentor-2.png?raw=true"
                      alt="partner-2"
                      height="400"
                      class="w-100 object-fit-cover"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="fs-14 mb-2 text-natural-50">個人品牌策略專家</h4>
                    <h3 class="fs-4 fw-medium mb-3">林曉彤 Clara Lin</h3>
                    <div class="d-flex flex-wrap pb-4">
                      <a
                        href="#"
                        class="fs-14 text-natural-50 border rounded-pill px-2 py-1 me-2"
                        ># 個人品牌建立</a
                      >
                      <a
                        href="#"
                        class="fs-14 text-natural-50 border rounded-pill px-2 py-1"
                        ># 內容行銷策略</a
                      >
                      <a
                        href="#"
                        class="fs-14 text-natural-50 border rounded-pill px-2 py-1"
                        ># 故事行銷</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card h-100 rounded-4 overflow-hidden">
                  <div class="card-img-top p-0">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week6/about/mentor-3.png?raw=true"
                      alt="partner-3"
                      height="400"
                      class="w-100 object-fit-cover"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="fs-14 mb-2 text-natural-50">財務自由規劃顧問</h4>
                    <h3 class="fs-4 fw-medium mb-3">王建明 Marcus</h3>
                    <div class="d-flex flex-wrap pb-4">
                      <a
                        href="#"
                        class="fs-14 text-natural-50 border rounded-pill px-2 py-1 me-2"
                        ># 稅務優化</a
                      >
                      <a
                        href="#"
                        class="fs-14 text-natural-50 border rounded-pill px-2 py-1"
                        ># 被動收入建立</a
                      >
                      <a
                        href="#"
                        class="fs-14 text-natural-50 border rounded-pill px-2 py-1"
                        ># 現金流管理</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card h-100 rounded-4 overflow-hidden">
                  <div class="card-img-top p-0">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week6/about/mentor-4.png?raw=true"
                      alt="partner-4"
                      height="400"
                      class="w-100 object-fit-cover"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="fs-14 mb-2 text-natural-50">
                      創意接案與多元收入專家
                    </h4>
                    <h3 class="fs-4 fw-medium mb-3">張雅琳 Ariel</h3>
                    <div class="d-flex flex-wrap pb-4">
                      <a
                        href="#"
                        class="fs-14 text-natural-50 border rounded-pill px-2 py-1 me-2"
                        ># 創意變現策略</a
                      >
                      <a
                        href="#"
                        class="fs-14 text-natural-50 border rounded-pill px-2 py-1"
                        ># 線上課程開發</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card h-100 rounded-4 overflow-hidden">
                  <div class="card-img-top p-0">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week6/about/mentor-5.png?raw=true"
                      alt="partner-5"
                      height="400"
                      class="w-100 object-fit-cover"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="fs-14 mb-2 text-natural-50">遠端工作技術顧問</h4>
                    <h3 class="fs-4 fw-medium mb-3">李俊宏 Kevin Lee</h3>
                    <div class="d-flex flex-wrap pb-4">
                      <a
                        href="#"
                        class="fs-14 text-natural-50 border rounded-pill px-2 py-1 me-2"
                        ># 專案管理自動化</a
                      >
                      <a
                        href="#"
                        class="fs-14 text-natural-50 border rounded-pill px-2 py-1"
                        ># 虛擬團隊管理</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card h-100 rounded-4 overflow-hidden">
                  <div class="card-img-top p-0">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week6/about/mentor-6.png?raw=true"
                      alt="partner-6"
                      height="400"
                      class="w-100 object-fit-cover"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="fs-14 mb-2 text-natural-50">數位遊牧先驅</h4>
                    <h3 class="fs-4 fw-medium mb-3">陳志遠 Ethan Chen</h3>
                    <div class="d-flex flex-wrap pb-4">
                      <a
                        href="#"
                        class="fs-14 text-natural-50 border rounded-pill px-2 py-1 me-2"
                        ># 遠端工作策略</a
                      >
                      <a
                        href="#"
                        class="fs-14 text-natural-50 border rounded-pill px-2 py-1"
                        ># 數位遊牧生活設計</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="bg-blue pt-3 pb-4 px-4 mb-5 text-center rounded-3 mb-lg-80"
          >
            <div class="bg-white horn d-inline-block rounded-3">
              <p class="fs-18 text-team fw-bold py-12 px-4">團隊承諾</p>
            </div>

            <p class="fs-14 mt-3 mb-4 text-white">
              我們不只是顧問，更是你職業轉型路上的夥伴與同行者。我們深知轉型過程中的不確定與恐懼，也經歷過停滯不前的困境。正因如此，我們更懂得如何陪你走過這段旅程，不只指引方向，更與你並肩同行。
            </p>
            <div class="text-mb-img d-md-none">
              <img
                src="
                  https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week6/about/text-mb.svg
                "
                alt="text-mb"
                class="w-100 h-100"
              />
            </div>
            <div class="d-none d-md-block">
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week6/about/text-pc.svg"
                alt="text-pc"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 公司資料 -->
    <div class="bg-natural-95 py-5 position-relative">
      <div class="container-lg position-relative z-index-1">
        <p class="fs-28 fw-bold mb-4 text-center">公司資訊</p>
        <div class="bg-white rounded-3 p-4 shadow">
          <div class="d-flex border-bottom">
            <div class="flex-shrink-0 w-120">
              <p class="p-3 text-natural-50 mb-18 fs-14 fw-bold">公司位置</p>
            </div>
            <div class="">
              <p p class="py-3 pe-3 fs-14 fw-medium">
                110台北市信義區信義路五段7號
              </p>
            </div>
          </div>
          <div class="d-flex border-bottom">
            <div class="flex-shrink-0 w-120">
              <p class="p-3 text-natural-50 mb-18 fs-14 fw-bold">聯絡專線</p>
            </div>
            <div class="">
              <p p class="py-3 pe-3 fs-14 fw-medium">02-2758-6600</p>
            </div>
          </div>
          <div class="d-flex border-bottom">
            <div class="flex-shrink-0 w-120">
              <p class="p-3 text-natural-50 mb-18 fs-14 fw-bold">負責人</p>
            </div>
            <div class="">
              <p p class="py-3 pe-3 fs-14 fw-medium">張世明</p>
            </div>
          </div>
          <div class="d-flex border-bottom">
            <div class="flex-shrink-0 w-120">
              <p class="p-3 text-natural-50 mb-18 fs-14 fw-bold">營業時間</p>
            </div>
            <div class="">
              <p p class="py-3 pe-3 fs-14 fw-medium">
                週一至週五 10:00～18:00（國定假日休息）
              </p>
            </div>
          </div>
          <div class="d-flex border-bottom">
            <div class="flex-shrink-0 w-120">
              <p class="p-3 text-natural-50 mb-18 fs-14 fw-bold">電子郵件</p>
            </div>
            <div class="">
              <p p class="py-3 pe-3 fs-14 fw-medium">contact@workway.tw</p>
            </div>
          </div>
          <div class="d-flex border-bottom">
            <div class="flex-shrink-0 w-120">
              <p class="p-3 text-natural-50 mb-18 fs-14 fw-bold">成立時間</p>
            </div>
            <div class="">
              <p p class="py-3 pe-3 fs-14 fw-medium">2023 年 6 月</p>
            </div>
          </div>
          <div class="d-flex border-bottom mb-4">
            <div class="flex-shrink-0 w-120">
              <p class="p-3 text-natural-50 mb-18 fs-14 fw-bold">統一編號</p>
            </div>
            <div class="">
              <p p class="py-3 pe-3 fs-14 fw-medium">83149276</p>
            </div>
          </div>
          <div class="map-img">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week6/about/map.png?raw=true"
              alt="map.png"
              class="w-100 h-100"
            />
          </div>
        </div>
      </div>
      <div class="bg-white bg position-absolute d-none d-lg-block"></div>
    </div>
    <!-- 預約免費職涯探索 -->
    <div class="container-lg">
      <div class="bg-white py-40">
        <div class="bg-blue text-white rounded-3 py-3 px-4">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week6/logo-icon-w.svg"
            alt="login-icon"
            class="mb-4"
          />
          <div class="">
            <p class="h5 mb-12">邁向你真正想過的生活，從這裡開始</p>
            <p class="border-bottom-dotted pb-4">
              第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式
            </p>
          </div>
          <div class="mt-3">
            <p class="mb-3 d-flex align-items-center">
              <span class="me-2 material-icons-outlined"> phone </span
              >0800-123-123
            </p>
            <p class="mb-4 d-flex align-items-center">
              <span class="me-2 material-icons-outlined"> mail </span
              >Sample@mail.com
            </p>
            <button
              type="button"
              class="btn btn-dark rounded-4 d-flex align-items-center justify-content-center fs-sm fs-lg-16 p-12 mb-3 mb-lg-0"
            >
              預約免費職涯探索
              <span class="material-icons-outlined ms-1"> chevron_right </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/login-register'); -%> <%- include('./layout/footer');
    -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
