<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=stat_0"
    />
    <title>服務方案</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 服務方案 -->
    <div class="about-banner-img text-center">
      <div class="container-lg position-relative py-5 py-xl-80">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <p class="fs-2 fs-lg-1 lh-sm fw-bold mb-4 mb-lg-5">服務方案</p>
            <p class="fs-lg-5 text-natural-50">
              我們最全面的服務方案，為您提供從評估、規劃到實踐的完整支持。不再擔心轉型過程中的各種挑戰，我們的專家團隊將全程陪伴，確保您順利實現職業自由。
            </p>
          </div>

          <div
            class="position-absolute banner-person-img d-none d-xl-flex justify-content-end"
          >
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week6/service/banner-person.svg"
              alt="banner-person"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- 職涯轉型全程計畫 -->
    <div class="container-lg py-5 py-lg-80">
      <div class="text-center mb-4 mb-lg-5">
        <img
          src="https://github.com/0404kai/2025-layout-img/blob/main/week6/icon/goal.png?raw=true"
          alt="logo"
        />
        <p class="fs-3 fs-lg-2 lh-sm fw-bold mt-1 mb-3 mb-lg-4">
          職涯轉型全程計畫
        </p>
        <p class="text-natural-50 fs-lg-5">從企業到自由，無縫轉型之旅</p>
      </div>
      <ul class="plan">
        <li>
          <input
            type="radio"
            id="cardOption1"
            name="cardSelect"
            value="card1"
            checked
          />
          <label
            for="cardOption1"
            class="card-label d-flex align-items-start shadow rounded p-4 pt-5 mb-3 p-lg-5 mb-lg-4"
          >
            <div class="flex-grow-1 me-0 me-lg-4">
              <p class="text-primary mb-2 fs-sm fs-lg-6 fw-medium lh-sm">
                全面方案
              </p>
              <p class="fs-lg fs-lg-4 lh-sm mb-2 fw-medium">職涯轉型全程計畫</p>
              <p class="fs-sm fs-lg-6 mb-2">
                針對希望完全改變職業領域的資深專業人士。我們的專家團隊將協助您將過往經驗轉化為新領域的競爭優勢。
              </p>
              <ul class="mb-3 mb-lg-4">
                <li class="d-flex align-items-center mb-1 fs-sm fs-lg-6">
                  <span class="material-symbols-outlined text-primary me-2">
                    stat_0
                  </span>
                  深度職能轉換評估與規劃
                </li>
                <li class="d-flex align-items-center mb-1 fs-sm fs-lg-6">
                  <span class="material-symbols-outlined text-primary me-2">
                    stat_0
                  </span>
                  跨領域技能遷移策略
                </li>
                <li class="d-flex align-items-center mb-1 fs-sm fs-lg-6">
                  <span class="material-symbols-outlined text-primary me-2">
                    stat_0
                  </span>
                  新領域人脈建立指導
                </li>
                <li class="d-flex align-items-center fs-sm">
                  <span class="material-symbols-outlined text-primary me-2">
                    stat_0
                  </span>
                  長期職涯發展藍圖
                </li>
              </ul>
              <div class="bg-natural-95 rounded-3 p-3 mb-3 mb-lg-4">
                <div class="d-flex mb-2">
                  <div
                    class="fs-sm fs-lg-6 d-flex align-items-center flex-shrink-0"
                  >
                    <p>適合對象：</p>
                  </div>
                  <div class="d-flex flex-grow-1">
                    <p class="fs-sm fs-lg-6 fw-bold lh-sm">
                      從企業職場轉型為自由工作者 / 數位遊牧者的專業人士
                    </p>
                  </div>
                </div>
                <div class="d-flex">
                  <div
                    class="fs-sm fs-lg-6 d-flex align-items-center flex-shrink-0"
                  >
                    <p>優惠價格：</p>
                  </div>
                  <div class="d-flex flex-grow-1">
                    <p class="fs-lg fs-lg-4 fw-bold lh-sm text-primary">
                      NT$ 120,000
                    </p>
                  </div>
                </div>
              </div>
              <button
                type="button"
                class="btn btn-dark rounded-4 d-flex align-items-center p-12 pe-2 ps-lg-20 pe-lg-12"
              >
                我有興趣
                <span class="material-icons-outlined"> chevron_right </span>
              </button>
            </div>
            <div class="d-none d-lg-flex">
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week6/service/plan-1.svg"
                alt="plan-1"
                width="300px"
              />
            </div>
          </label>
        </li>
        <li>
          <input
            type="radio"
            id="cardOption2"
            name="cardSelect"
            value="card2"
          />
          <label
            for="cardOption2"
            class="card-label d-flex align-items-start shadow rounded p-4 pt-5 mb-3 p-lg-5 mb-lg-4"
          >
            <div class="flex-grow-1 me-0 me-lg-4">
              <p class="text-primary mb-2 fs-sm fs-lg-6 fw-medium lh-sm">
                加速方案
              </p>
              <p class="fs-lg fs-lg-4 lh-sm mb-2 fw-medium">自由工作加速計畫</p>
              <p class="fs-sm fs-lg-6 mb-2">
                為已確定要轉型但需要全面規劃的專業人士設計。六次深度諮詢，從心態調整到實際操作，全方位為您的轉型做好準備。
              </p>
              <ul class="mb-3 mb-lg-4">
                <li class="d-flex align-items-center mb-1 fs-sm fs-lg-6">
                  <span class="material-symbols-outlined text-primary me-2">
                    stat_0
                  </span>
                  詳細的市場機會分析
                </li>
                <li class="d-flex align-items-center mb-1 fs-sm fs-lg-6">
                  <span class="material-symbols-outlined text-primary me-2">
                    stat_0
                  </span>
                  個人優勢定位與差異化策略
                </li>
                <li class="d-flex align-items-center mb-1 fs-sm fs-lg-6">
                  <span class="material-symbols-outlined text-primary me-2">
                    stat_0
                  </span>
                  完整的轉型時間表與里程碑
                </li>
                <li class="d-flex align-items-center fs-sm">
                  <span class="material-symbols-outlined text-primary me-2">
                    stat_0
                  </span>
                  轉型期間的心理健康維護策略
                </li>
              </ul>
              <div class="bg-natural-95 rounded-3 p-3 mb-3 mb-lg-4">
                <div class="d-flex mb-2">
                  <div
                    class="fs-sm fs-lg-6 d-flex align-items-center flex-shrink-0"
                  >
                    <p>適合對象：</p>
                  </div>
                  <div class="d-flex flex-grow-1">
                    <p class="fs-sm fs-lg-6 fw-bold lh-sm">
                      已經開始自由工作但想提升效能和收入的專業人士
                    </p>
                  </div>
                </div>
                <div class="d-flex">
                  <div
                    class="fs-sm fs-lg-6 d-flex align-items-center flex-shrink-0"
                  >
                    <p>優惠價格：</p>
                  </div>
                  <div class="d-flex flex-grow-1">
                    <p class="fs-lg fs-lg-4 fw-bold lh-sm text-primary">
                      NT$ 80,000
                    </p>
                  </div>
                </div>
              </div>
              <button
                type="button"
                class="btn btn-dark rounded-4 d-flex align-items-center p-12 pe-2 ps-lg-20 pe-lg-12"
              >
                我有興趣
                <span class="material-icons-outlined"> chevron_right </span>
              </button>
            </div>
            <div class="d-none d-lg-flex">
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week6/service/plan-2.svg"
                alt="plan-2"
                width="300px"
              />
            </div>
          </label>
        </li>
        <li>
          <input
            type="radio"
            id="cardOption3"
            name="cardSelect"
            value="card3"
          />
          <label
            for="cardOption3"
            class="card-label d-flex align-items-start shadow rounded p-4 pt-5 mb-3 p-lg-5 mb-lg-4"
          >
            <div class="flex-grow-1 me-0 me-lg-4">
              <p class="text-primary mb-2 fs-sm fs-lg-6 fw-medium lh-sm">
                遊牧方案
              </p>
              <p class="fs-lg fs-lg-4 lh-sm mb-2 fw-medium">數位遊牧生活計畫</p>
              <p class="fs-sm fs-lg-6 mb-2">
                針對希望完全改變職業領域的資深專業人士。我們的專家團隊將協助您將過往經驗轉化為新領域的競爭優勢。
              </p>
              <ul class="mb-3 mb-lg-4">
                <li class="d-flex align-items-center mb-1 fs-sm fs-lg-6">
                  <span class="material-symbols-outlined text-primary me-2">
                    stat_0
                  </span>
                  深度職能轉換評估與規劃
                </li>
                <li class="d-flex align-items-center mb-1 fs-sm fs-lg-6">
                  <span class="material-symbols-outlined text-primary me-2">
                    stat_0
                  </span>
                  新領域人脈建立指導
                </li>
                <li class="d-flex align-items-center mb-1 fs-sm fs-lg-6">
                  <span class="material-symbols-outlined text-primary me-2">
                    stat_0
                  </span>
                  跨領域技能遷移策略
                </li>
                <li class="d-flex align-items-center fs-sm">
                  <span class="material-symbols-outlined text-primary me-2">
                    stat_0
                  </span>
                  長期職涯發展藍圖
                </li>
              </ul>
              <div class="bg-natural-95 rounded-3 p-3 mb-3 mb-lg-4">
                <div class="d-flex mb-2">
                  <div
                    class="fs-sm fs-lg-6 d-flex align-items-center flex-shrink-0"
                  >
                    <p>適合對象：</p>
                  </div>
                  <div class="d-flex flex-grow-1">
                    <p class="fs-sm fs-lg-6 fw-bold lh-sm">
                      希望同時擁有工作自由和地域自由的專業人士
                    </p>
                  </div>
                </div>
                <div class="d-flex">
                  <div
                    class="fs-sm fs-lg-6 d-flex align-items-center flex-shrink-0"
                  >
                    <p>優惠價格：</p>
                  </div>
                  <div class="d-flex flex-grow-1">
                    <p class="fs-lg fs-lg-4 fw-bold lh-sm text-primary">
                      NT$ 60,000
                    </p>
                  </div>
                </div>
              </div>
              <button
                type="button"
                class="btn btn-dark rounded-4 d-flex align-items-center p-12 pe-2 ps-lg-20 pe-lg-12"
              >
                我有興趣
                <span class="material-icons-outlined"> chevron_right </span>
              </button>
            </div>
            <div class="d-none d-lg-flex">
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week6/service/plan-3.svg"
                alt="plan-3"
                width="300px"
              />
            </div>
          </label>
        </li>
      </ul>
    </div>
    <!-- 基礎諮詢服務 -->
    <div class="bg-natural-95">
      <div class="container-lg py-5 py-lg-80">
        <div class="text-center mb-4 mb-lg-5">
          <img src="../assets/images/conversation.svg" alt="conversation.svg" />
          <p class="fs-3 fs-lg-2 lh-sm fw-bold mt-1 mb-3 mb-lg-4">
            基礎諮詢服務
          </p>
          <p class="text-natural-50 fs-lg-5">
            我們提供第一次免費諮詢，一起建立信任的橋樑
          </p>
        </div>
        <ul class="plan row">
          <li class="col-lg-4">
            <input
              type="radio"
              id="serviceOption1"
              name="serviceSelect"
              value="card1"
            />
            <label
              for="serviceOption1"
              class="bg-white card-label d-flex flex-column align-items-center shadow rounded px-3 py-4 px-lg-4 mb-3 mb-lg-0"
            >
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week6/service/server-1.svg"
                alt="server-1"
                class="w-120 mb-3 mb-lg-4"
              />
              <p class="fs-lg fs-lg-4 lh-sm mb-2 fw-bold">職涯探索評估</p>
              <p class="fs-sm mb-2 text-natural-50">
                3 次一對一諮詢，了解可能性和適配性
              </p>
              <p class="fs-lg fs-lg-4 fw-bold lh-sm text-primary mb-3 mb-lg-4">
                NT$ 3,800
              </p>
              <div>
                <button
                  type="button"
                  class="btn btn-dark rounded-4 d-flex align-items-center p-12 pe-2 ps-lg-20 pe-lg-12"
                >
                  我有興趣
                  <span class="material-icons-outlined"> chevron_right </span>
                </button>
              </div>
            </label>
          </li>
          <li class="col-lg-4">
            <input
              type="radio"
              id="serviceOption2"
              name="serviceSelect"
              value="card2"
              checked
            />
            <label
              for="serviceOption2"
              class="bg-white card-label d-flex flex-column align-items-center shadow rounded px-3 py-4 px-lg-4 mb-3 mb-lg-0"
            >
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week6/service/server-2.svg"
                alt="server-2"
                class="w-120 mb-3 mb-lg-4"
              />
              <p class="fs-lg fs-lg-4 lh-sm mb-2 fw-bold">職涯轉型規劃</p>
              <p class="fs-sm mb-2 text-natural-50">
                6 次深度諮詢，建立完整轉型藍圖
              </p>
              <p class="fs-lg fs-lg-4 fw-bold lh-sm text-primary mb-3 mb-lg-4">
                NT$ 12,000
              </p>
              <div>
                <button
                  type="button"
                  class="btn btn-dark rounded-4 d-flex align-items-center p-12 pe-2 ps-lg-20 pe-lg-12"
                >
                  我有興趣
                  <span class="material-icons-outlined"> chevron_right </span>
                </button>
              </div>
            </label>
          </li>
          <li class="col-lg-4">
            <input
              type="radio"
              id="serviceOption3"
              name="serviceSelect"
              value="card3"
            />
            <label
              for="serviceOption3"
              class="bg-white card-label d-flex flex-column align-items-center shadow rounded px-3 py-4 px-lg-4 mb-3 mb-lg-0"
            >
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week6/service/server-3.svg"
                alt="server-3"
                class="w-120 mb-3 mb-lg-4"
              />
              <p class="fs-lg fs-lg-4 lh-sm mb-2 fw-bold">專業定位與品牌建立</p>
              <p class="fs-sm mb-2 text-natural-50">
                4 次專業諮詢，確立市場定位與差異化策略
              </p>
              <p class="fs-lg fs-lg-4 fw-bold lh-sm text-primary mb-3 mb-lg-4">
                NT$ 8,800
              </p>
              <div>
                <button
                  type="button"
                  class="btn btn-dark rounded-4 d-flex align-items-center p-12 pe-2 ps-lg-20 pe-lg-12"
                >
                  我有興趣
                  <span class="material-icons-outlined"> chevron_right </span>
                </button>
              </div>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <!-- 持續支持方案 -->
    <div class="bg-natural-95 position-relative">
      <div class="container-lg py-5 py-lg-80 position-relative z-1">
        <div class="text-center mb-4 mb-lg-5">
          <img src="../assets/images/love.svg" alt="love.svg" />
          <p class="fs-3 fs-lg-2 lh-sm fw-bold mt-1 mb-3 mb-lg-4">
            持續支持方案
          </p>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="support-img p-4 p-lg-5 rounded position-relative">
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week6/service/subscribe-1.svg"
                alt="subscribe-1"
                class="position-absolute support-icon-img-left d-none d-lg-flex"
              />
              <div class="mb-5 text-center">
                <p class="fs-lg fs-lg-4 fw-medium lh-sm mb-2">職旅會員計畫</p>
                <p class="fs-sm fs-lg-6">享有長期社群支持與資源服務</p>
              </div>
              <div class="text-center mb-5">
                <p class="fs-lg fs-lg-4 fw-bold lh-sm text-primary">
                  NT$ 9,800
                  <span class="ms-2 fs-sm fs-lg-6 text-black">/年 </span
                  ><span class="ms-2 fs-sm fs-lg-6 fw-medium text-black"
                    >( NT$1,200 /月)</span
                  >
                </p>
              </div>
              <div class="d-flex justify-content-center">
                <button
                  type="button"
                  class="btn btn-dark rounded-4 d-flex align-items-center p-12 pe-2 ps-lg-20 pe-lg-12"
                >
                  我有興趣
                  <span class="material-icons-outlined"> chevron_right </span>
                </button>
              </div>
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week6/service/subscribe-2.svg"
                alt="subscribe-2"
                class="position-absolute support-icon-img-right d-none d-lg-flex"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white bg position-absolute"></div>
    </div>
    <!-- 預約免費職涯探索 -->
    <div class="container-lg">
      <div class="bg-white py-40">
        <div class="bg-primary text-white rounded-3 py-3 px-4 py-lg-4 px-lg-5">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week6/logo-icon-w.svg"
            alt="login-icon"
            class="mb-4"
          />
          <div class="">
            <p class="fs-3 fs-lg-2 fw-bold lh-sm mb-12">
              邁向你真正想過的生活，從這裡開始
            </p>
            <p class="fs-lg-5 border-bottom-dotted pb-4">
              第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式
            </p>
          </div>
          <div class="mt-3 mt-lg-4 d-lg-flex justify-content-lg-between">
            <div class="d-lg-flex">
              <p
                class="mb-3 mb-lg-0 d-flex align-items-center fs-5 fs-lg-lg fw-medium lh-sm"
              >
                <span class="me-2 material-icons-outlined"> phone </span
                >0800-123-123
              </p>
              <p
                class="mb-4 mb-lg-0 ms-lg-4 d-flex align-items-center fs-5 fs-lg-lg fw-medium lh-sm"
              >
                <span class="me-2 material-icons-outlined"> mail </span
                >Sample@mail.com
              </p>
            </div>
            <div class="">
              <button
                type="button"
                class="btn btn-dark rounded d-flex align-items-center justify-content-center fs-sm fs-lg-6 p-12 mb-3 mb-lg-0"
              >
                預約免費職涯探索
                <span class="material-icons-outlined ms-1">
                  chevron_right
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/login-register'); -%> <%- include('./layout/footer');
    -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
